/**
*    Copyright 2015 ppy Pty. Ltd.
*
*    This file is part of osu!web. osu!web is distributed with the hope of
*    attracting more community contributions to the core ecosystem of osu!.
*
*    osu!web is free software: you can redistribute it and/or modify
*    it under the terms of the Affero GNU General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    osu!web is distributed WITHOUT ANY WARRANTY; without even the implied
*    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
*    See the GNU Affero General Public License for more details.
*
*    You should have received a copy of the GNU Affero General Public License
*    along with osu!web.  If not, see <http://www.gnu.org/licenses/>.
*
*/
.visible-xs-flex {
	display: flex !important;

	@media @desktop {
		display: none !important;
	}
}

.flex-none { flex: none; }
.flex-full { flex: 1 0 auto; }

.flex-row {
	display: flex;
	flex-direction: column;
	@media @desktop {
		flex-direction: row;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-col-66 {
	padding-left: @grid-gutter-width/2;
	padding-right: @grid-gutter-width/2;

	@media @desktop {
		flex-basis: 100% * 2 / 3;
		max-width: 100% * 2 / 3;
	}
}

.flex-col-33 {
	padding-left: @grid-gutter-width/2;
	padding-right: @grid-gutter-width/2;

	@media @desktop {
		flex-basis: 100% / 3;
		max-width: 100% / 3;
	}
}
